{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Réinitialisation du mot de passe terminé </title>
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/brand-logos/favicon.ico' %}" type="image/x-icon">

    <!-- Main Theme Js -->
    <script src="{% static 'js/authentication-main.js' %}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >

    <!-- Style Css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" >

    <!-- Icons Css -->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" >


</head>

<body class="coming-soon-main">
    <div class="row authentication coming-soon justify-content-center g-0 my-auto">
        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-7 col-11 my-auto">
            <div class="authentication-cover rounded-3 overflow-hidden card custom-card border my-3">
                <div class="aunthentication-cover-content text-center">
                    <div class="row justify-content-center align-items-center mx-0 g-0">
                        <div class="col-xxl-11 col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                            <div>
                                <h4 class="mb-2">Mot de passe modifié</h4>
                                <p>Votre mot de passe a été réinitialisé. Vous pouvez vous reconnecter à nouveau</p>
                                    <p><a style="text-decoration: underline;" href="{% url 'mainapp:connexion' %}">Connetez-vous</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Anime JS -->
    <script src="{% static 'libs/animejs/lib/anime.min.js' %}"></script>

</body>

</html>