<!DOCTYPE html>
{% autoescape off %}
<html>
<head>
    <title>Réinitialisation du mot de passe utilisateur</title>
</head>
<body>
    <p>Bonjour M/Mme {{ user.first_name }} {{ user.last_name }},</p>
    <p>
      Vous recevez cet e-mail parce que vous avez demandé une réinitialisation du mot de passe de votre compte utilisateur sur GV
      <br/>
    </p>
    <p>Suivez le lien ci-après pour choisir un nouveau mot de passe:</p>

    <p><a href="{{ protocol }}://{{ domain }}{% url 'mainapp:password_reset_confirm' uidb64=uid token=token %}">Cliquez ici pour confirmer le changement du mot de passe.</a></p>
    <p>Si vous pensez que ce message ne vous concerne pas, veuillez l'ignorer s'il vous plaît.</p>
    <br/>
    <p>Cordialement,</p>
    <p>L'administrateur de la plateforme</p>
</body>
{% endautoescape %}
</html>